.project2_allcontent h1 {
  text-shadow: 2px 2px 3px brown;
  padding: 15px;
}
.project2_allcontent img {
  width: 200px;
  height: 200px;
}
.project2_allcontent p {
  font-size: 30px;
  text-shadow: 2px 2px 4px brown;
}
.project2content_info {
  border: dashed;
  width: 800px;
  height: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  align-content: center;
  padding: 55px;
  border-radius: 20%;
  background-color: salmon;
  transition: height 2s;
}
.project2_allcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project2content_info:hover {
  height: 750px;
  background-color: khaki;
}
@media (max-width: 768px) {
  .project2content_info {
    width: 750px;
    height: 750px;
  }
  .project2content_info:hover {
    height: 800px;
  }
}
@media (max-width: 480px) {
  .project2content_info {
    width: 450px;
    height: 1120px;
  }
  .project2content_info:hover {
    height: 1130px;
  }
}
